<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Recipe Project</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

        <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"
                th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel-title" th:text="${recipe.getDescription()}"></div>
                                </div>
                                <div class="col-md-1">
                                    <a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/image'}" class="btn btn-default" th:text="'Change Image'"></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Categories:</h5>
                                </div>
                                <div class="col-md-3">
                                    <tr th:each="item : ${recipe.getCategories()}">
                                        <li><td th:text="${item.getDescription()}"></td></li>
                                    </tr>
                                </div>
                                <div class="col-md-6">
                                    <img src="../../static/images/guacamole400x400WithX.jpg"
                                         th:src="@{'/recipe/' + ${recipe.id} + '/recipeImage'}"
                                         width="200" height="200">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Prep Time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getPrepTime()}"></p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Difficulty:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getDifficulty()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Cook Time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getCookTime()}"></p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Servings:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getServings()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Source:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getSource()}">20</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>URL:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getUrl()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="panel-title col-md-11" th:text="'Ingredients'"></div>
                                <a th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredients'}" class="btn btn-default col-md-1" th:text="View">View</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul th:each="item : ${recipe.getIngredients()}">
                                        <li><td th:text="${item.getAmount() + ' ' + item.getUnitOfMeasure().getDescription() + ' - ' + item.getDescription()}"></td></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" th:text="'Directions'"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.getDirections()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" th:text="'Notes'"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.getNotes().recipeNotes}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>