<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <title>Recipe Project</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

        <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"
                th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="panel-title col-md-11" th:text="'Ingredients'">Ingredients</div>
                                <a th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredient/new'}" class="btn btn-default col-md-1" th:text="New">New</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover" style="margin-bottom: 0">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">DESCRIPTION</th>
                                        <th scope="col">VIEW</th>
                                        <th scope="col">UPDATE</th>
                                        <th scope="col">DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="ingredient : ${recipe.ingredients}" style="font-size: 12px">
                                        <th scope="row" th:text="${ingredient.getId()}"></th>
                                        <th scope="row" th:text="${ingredient.getAmount()} + ' ' + ${ingredient.getUnitOfMeasure().getDescription()} + ' ' + ${ingredient.getDescription()}"></th>
                                        <th scope="row"><a th:href="'/recipe/' + ${recipe.getId()} + '/ingredients/' + ${ingredient.getId()} + '/show'">View</a></th>
                                        <th scope="row"><a th:href="'/recipe/' + ${recipe.getId()} + '/ingredients/' + ${ingredient.getId()} + '/update'">Update</a></th>
                                        <th scope="row"><a th:href="'/recipe/' + ${recipe.getId()} + '/ingredients/' + ${ingredient.getId()} + '/delete'">Delete</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>